body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 13px;
}



#header{}

#nav {}

#nav-logo{
    float:left;
    padding:10px 0px 5px 0px;
}

#nav-menu {
    float:right;
}

#nav-menu > ul > li{
    list-style-type: none;
    display: inline;
    padding:10px 10px 5px 10px;
}


#main-author{float:left;
    padding:0px 30px 0px 0px;
}

.span-blue{color:blue;}

#footer-contact{
    float:left;
    width: 20%;
}

#footer-author {
    float:left;
    width: 60%;
}

#footer-face{
    float:left;
    width: 20%;
}

#main-cv{float:left}

.clear-fix{clear: both;}